<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>WaYe</title>
</head>
<body>
    <main>
       <form method="post" class="form_container">
        <p class="form_container_heading">Connexion</p>
        <input class="form_container_inputs" name="username" type="username" placeholder="Nom d'utilisateur" required>
        <input class="form_container_inputs" name="password" type="password" placeholder="Mot de passe" required>
        <button type="submit" class="form_container_button">Connexion</button>
        <a class="form_container_link" href="signup">Pas de compte ? Créez-en un !</a>
       </form>
    </main>
</body>
</html>
