<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>WaYe</title>
</head>
<body>
    <main>
       <form method="post" class="form_container_2">
        <p class="form_container_heading">Inscription</p>
        <input class="form_container_inputs" type="username" name="username" placeholder="Nom d'utilisateur" required>
        <input class="form_container_inputs" type="email" name="email" placeholder="Email" required>
        <input class="form_container_inputs" type="password" name="password" placeholder="Mot de passe" required>
        <input class="form_container_inputs" type="password" name="confirm_password" placeholder="Confirmez le mot de passe" required>
        <button type="submit" class="form_container_button">Inscription</button>
        <a class="form_container_link" href="login">Déjà un compte ? Connectez-vous !</a>
       </form>
    </main>
</body>
</html>
